body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1142px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8 {
  position:absolute;
  left:100px;
  top:30px;
  width:1005px;
  height:437px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u11 {
  position:absolute;
  left:161px;
  top:0px;
  width:700px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:696px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u13 {
  position:absolute;
  left:861px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u17 {
  position:absolute;
  left:161px;
  top:30px;
  width:700px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:696px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u19 {
  position:absolute;
  left:861px;
  top:30px;
  width:139px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:83px;
}
#u21 {
  position:absolute;
  left:0px;
  top:60px;
  width:161px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u22 {
  position:absolute;
  left:2px;
  top:32px;
  width:157px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:83px;
}
#u23 {
  position:absolute;
  left:161px;
  top:60px;
  width:700px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:2px;
  top:34px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:83px;
}
#u25 {
  position:absolute;
  left:861px;
  top:60px;
  width:139px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:135px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:156px;
}
#u27 {
  position:absolute;
  left:0px;
  top:143px;
  width:161px;
  height:156px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u28 {
  position:absolute;
  left:2px;
  top:68px;
  width:157px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:156px;
}
#u29 {
  position:absolute;
  left:161px;
  top:143px;
  width:700px;
  height:156px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:70px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:156px;
}
#u31 {
  position:absolute;
  left:861px;
  top:143px;
  width:139px;
  height:156px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u32 {
  position:absolute;
  left:2px;
  top:68px;
  width:135px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u33 {
  position:absolute;
  left:0px;
  top:299px;
  width:161px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:43px;
}
#u35 {
  position:absolute;
  left:161px;
  top:299px;
  width:700px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:696px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:43px;
}
#u37 {
  position:absolute;
  left:861px;
  top:299px;
  width:139px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:342px;
  width:161px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFF00;
  text-align:center;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u41 {
  position:absolute;
  left:161px;
  top:342px;
  width:700px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFF00;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u43 {
  position:absolute;
  left:861px;
  top:342px;
  width:139px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFF00;
  text-align:center;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u45 {
  position:absolute;
  left:0px;
  top:372px;
  width:161px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u47 {
  position:absolute;
  left:161px;
  top:372px;
  width:700px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u49 {
  position:absolute;
  left:861px;
  top:372px;
  width:139px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u51 {
  position:absolute;
  left:0px;
  top:402px;
  width:161px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u53 {
  position:absolute;
  left:161px;
  top:402px;
  width:700px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u55 {
  position:absolute;
  left:861px;
  top:402px;
  width:139px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u57 {
  position:absolute;
  left:280px;
  top:100px;
  width:640px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u59 {
  position:absolute;
  left:280px;
  top:183px;
  width:640px;
  height:133px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:762px;
}
#u61 {
  position:absolute;
  left:100px;
  top:488px;
  width:1042px;
  height:762px;
}
#u62 {
  position:absolute;
  left:2px;
  top:373px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:196px;
}
#u63 {
  position:absolute;
  left:102px;
  top:1260px;
  width:1039px;
  height:196px;
}
#u64 {
  position:absolute;
  left:2px;
  top:90px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
