body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:178px;
}
#u832 {
  position:absolute;
  left:20px;
  top:10px;
  width:1037px;
  height:178px;
}
#u833 {
  position:absolute;
  left:2px;
  top:81px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
