body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1196px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9696 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u9697 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9698 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9699 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9700 {
  position:absolute;
  left:0px;
  top:10px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9701 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9702 {
  position:absolute;
  left:-7px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9703 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9704 {
  position:absolute;
  left:0px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9704_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1204px;
  height:8px;
}
#u9705 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9706 {
  position:absolute;
  left:70px;
  top:16px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9707 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u9708 {
  position:absolute;
  left:10px;
  top:50px;
  width:300px;
  height:190px;
}
#u9708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:190px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9708_input {
  font-family:'应用字体';
}
#u9709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9709 {
  position:absolute;
  left:267px;
  top:13px;
  width:50px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9710 {
  position:absolute;
  left:2px;
  top:1px;
  width:46px;
  word-wrap:break-word;
}
#u9711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9711 {
  position:absolute;
  left:10px;
  top:630px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9712 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u9714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9714 {
  position:absolute;
  left:10px;
  top:670px;
  width:320px;
  height:15px;
}
#u9715 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9716 {
  position:absolute;
  left:10px;
  top:680px;
  width:320px;
  height:480px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9717 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9718 {
  position:absolute;
  left:10px;
  top:680px;
  width:320px;
  height:30px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9719 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9720 {
  position:absolute;
  left:3px;
  top:680px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9721 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9722 {
  position:absolute;
  left:80px;
  top:686px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9723 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u9724 {
  position:absolute;
  left:20px;
  top:720px;
  width:300px;
  height:190px;
}
#u9724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:190px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9724_input {
  font-family:'应用字体';
}
#u9725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9725 {
  position:absolute;
  left:277px;
  top:683px;
  width:50px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9726 {
  position:absolute;
  left:2px;
  top:1px;
  width:46px;
  word-wrap:break-word;
}
#u9727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u9727 {
  position:absolute;
  left:410px;
  top:720px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u9728 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u9729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066CC;
}
#u9729 {
  position:absolute;
  left:410px;
  top:750px;
  width:94px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066CC;
}
#u9730 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u9731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9731 {
  position:absolute;
  left:470px;
  top:750px;
  width:190px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9732 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u9733 {
  position:absolute;
  left:350px;
  top:730px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u9733_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u9734 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:215px;
}
#u9735 {
  position:absolute;
  left:0px;
  top:275px;
  width:320px;
  height:215px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9736 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:215px;
}
#u9737 {
  position:absolute;
  left:10px;
  top:945px;
  width:320px;
  height:215px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9738 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9739 {
  position:absolute;
  left:610px;
  top:750px;
  width:200px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9740 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
